@import "/src/app/basicStyles/basic";

.content {
  background-image: url("/background/QuickCart/mars.png");
  & .text {
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
  }

  & .wrapper {
    position: absolute;
    display: flex;
    left: calc(50% - 45px);
    transform: translateX(-50%);
    top: 550px;
    gap: 45px;
  }

  & .skills {
    left: 50%;
    transform: translateX(-50%);
    top: 820px;
    text-align: center;
    font-size: 30px;
  }
}

@media screen and (max-height: 1000px) {
  .content {
    & .text {
      top: 280px;
    }

    & .wrapper {
      top: 510px;
    }

    & .skills {
      top: 770px;
    }
  }
}

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 1500px) {
  .content {
    & .text {
      top: 130px;
      width: 450px;
      font-size: calc(25px * 0.7);
    }

    & .wrapper {
      left: calc(50% - 25px);
      top: 300px;
      gap: 25px;
      img {
        width: calc(340px * 0.6);
        height: calc(190px * 0.6);
      }
    }

    & .skills {
      top: 450px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .content {
    background-color: rgb(122, 0, 0);
    height: 360px;
    & .title {
      font-size: calc(113px * 0.4);
    }

    & .text {
      top: 80px;
      font-size: calc(25px * 0.6);
    }

    & .wrapper {
      top: 230px;
      img {
        width: calc(340px * 0.4);
        height: calc(190px * 0.4);
      }
    }

    & .skills {
      top: 315px;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 500px) {
  .content {
    height: 210px;

    & .title {
      font-size: calc(113px * 0.2);
    }

    & .text {
      top: 50px;
      font-size: calc(15px * 0.5);
      width: 250px;
    }

    & .wrapper {
      left: 2px;
      top: 110px;
      gap: 5px;
      left: calc(50% - 45px);
      img {
        width: calc(340px * 0.3);
        height: calc(190px * 0.3);
      }
    }

    & .skills {
      top: 180px;
      font-size: calc(11px * 0.6);
    }
  }
}
