.wrap {
  display: flex;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  animation: scroll 60s linear infinite alternate;
  background-image: url("/background/Header/button.png");
  background-size: 100%;
  align-items: flex-end;
  height: 560px;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% + (590px * 3 + 28px * 5)));
    }
  }
}
