.slider {
  width: 970px; // если хотим больше элементов то меняем
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;

  img {
    max-width: 100%;
    height: auto;
    transition: 1s ease-in-out;
  }
}

.arrow {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 41px;
  height: 67px;
  background-image: url("/background/MarketCS2/arrowWhite.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.4s;

  &:hover {
    cursor: pointer;
    background-image: url("/background/MarketCS2/arrowWhiteHover.png");
  }
}

@media screen and (max-width: 1800px) {
  .slider {
    width: calc(970px * 0.8);

    img {
      width: calc(485px * 0.8);
      height: calc(307px * 0.8);
    }
  }
}

@media screen and (max-width: 1500px) {
  .slider {
    width: calc(970px * 0.6);

    img {
      width: calc(485px * 0.6);
      height: calc(307px * 0.6);
    }
  }
  .arrow {
    width: calc(41px * 0.8);
    height: calc(67px * 0.8);
  }
}

@media screen and (max-width: 1000px) {
  .slider {
    width: calc(970px * 0.4);

    img {
      width: calc(485px * 0.4);
      height: calc(307px * 0.4);
    }
  }
  .arrow {
    width: calc(41px * 0.6);
    height: calc(67px * 0.6);
  }
}

@media screen and (max-width: 500px) {
  .slider {
    width: calc(970px * 0.2);

    img {
      width: calc(485px * 0.2);
      height: calc(307px * 0.2);
    }
  }
  .arrow {
    width: calc(41px * 0.4);
    height: calc(67px * 0.4);
  }
}
