.sliderContainer {
  display: flex;
  gap: 28px;
}

.image {
  background-color: #00ff73;
  cursor: pointer;
  flex-shrink: 0;
  width: 590px;
  height: 291px;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 44px rgb(0, 67, 192);
  }
}
