.sliderContainer {
  display: flex;
  gap: 28px;
  animation: scroll 30s linear infinite alternate;
  a {
    width: calc(590px * 1);
    height: calc(291px * 1);
  }
}

.image {
  background-color: #00ff73;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 44px rgb(0, 67, 192);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + (590px * 3 + 28px * 5)));
  }
}

@media screen and (max-width: 1250px) {
  .sliderContainer {
    a {
      width: calc(590px * 0.8);
      height: calc(291px * 0.8);
    }
  }
  .image {
    width: calc(590px * 0.8);
    height: calc(291px * 0.8);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% + ((590px * 0.8) * 3 - 28px * 7)));
    }
  }
}

@media screen and (max-width: 700px) {
  .sliderContainer {
    a {
      width: calc(590px * 0.56);
      height: calc(291px * 0.56);
    }
  }
  .image {
    width: calc(590px * 0.56);
    height: calc(291px * 0.56);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% + ((590px * 0.56) * 3 - 28px * 7)));
    }
  }
}
